.showTextArea {
    display: none;
    transition: 0.3s; 
}

.commentParagraph {
    display: inline-block;
}

.userBlogLink {
    color: inherit;
}

.userBlogLink:hover {
    color: inherit;
    text-decoration-line: none;
}

.commentActionLink {
    font-size: 12px;
    padding: 0;
}

.editWrapper {
    padding: 0;
    margin: 0;
    display: inline;
}

.newPostButton {
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

.blogHeader {
    font-family: 'Archivo', sans-serif;
}
body {
    background-color: grey;
    font-family: 'Roboto Condensed', sans-serif;
}

footer a {
    color: white;

}